html {
  font-size: 18px;
  font-family: 'Raleway', serif;
  color: #fff;
  box-sizing: border-box;
}

body {
  width: 1510px;
  margin: 0 auto;
}
*,
::before,
:after,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* ---------------------------Header----------------------------- */
.header {
  position: relative;
  background-color: #000;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 115px;
}

.header__nav {
  display: flex;
  margin-right: 170px;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-left: 80px;
}

.nav__list-item:first-child {
  margin-left: 0;
}

.nav-link {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.77rem;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #e4e1e1;
  width: 0;
}

.nav-link::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #e4e1e1;
  transition: all 0.2s linear;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

/* ---------------------------/Header----------------------------- */

/* ---------------------------Intro----------------------------- */

.intro {
  margin-top: -75px;
  height: 1026px;
  position: relative;
}

.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__inner {
  padding: 283px 170px 185px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.intro__content {
  max-width: 670px;
}

.logo_big {
  width: 270px;
  margin-left: 0;
  margin-bottom: 51px;
}

.intro__content-title {
  font-weight: 500;
  font-size: 2.66rem;
  line-height: 1.16;
}

.intro__content-title::after {
  display: block;
  content: '';
  width: 170px;
  height: 1px;
  background-color: #fff;
  margin: 55px 0 42px;
}

.intro__content-text {
  width: 270px;
  line-height: 1.16;
  margin-bottom: 42px;
}

.intro__btn {
  padding: 15px 90px;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: #fff solid 2px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.intro__btn:hover {
  color: #000;
  background-color: #fff;
}

.intro__form {
  width: 470px;
  max-height: 450px;
  font-family: 'Open Sans';
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.form__title {
  margin: 33px 0;
  font-family: 'Open Sans';
  font-size: 1.33rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.form__title span {
  color: #ec7979;
}

.form__input {
  margin-bottom: 33px;
  width: 370px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px #bdbdbd solid;
}

.form__input::placeholder {
  color: #bdbdbd;
}

.form__input:focus {
  outline: none;
}

.form__input:last-child {
  margin-bottom: 75px;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  display: block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.83rem;
  color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  background-color: #ec7979;
  transition: background-color 0.2s linear;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form__button:hover {
  background-color: rgb(163, 74, 74);
}

/* ---------------------------/Intro----------------------------- */

/* ---------------------------Social----------------------------- */
.social {
  color: #86878b;
  background-color: #f8efef;
}

.social__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__content {
  max-width: 470px;
}
.social__content-title {
  padding: 14px 0;
  margin-bottom: 18px;
  font-family: 'Open Sans';
  font-size: 1.33rem;
  font-weight: 700;

  color: #333333;
}

.social__content-text {
  margin-bottom: 18px;
  line-height: 1.17;
}

.social__icons {
  display: flex;
}
.social__icons img {
  display: inline-flex;
  margin-left: 30px;
}
/* ---------------------------/Social----------------------------- */

/* ---------------------------Banner----------------------------- */
.banner {
  position: relative;
  color: #000;
}

/* .banner__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
} */

/* ---------------------------/Banner----------------------------- */
